canvas  {
    width:100%;
}
.pageNumber{
    text-align: center;
    font-weight: bold;
    margin: 10px 0px;
    position: absolute;
    width: 100%;
    bottom: 6px;
}
.scroll-bar{
    display: none;
}